<div class="container">
  <div class="row">
    <% @cocktails.each do |cocktail| %>
      <div class="col-4">
        <div class="rounded">
        <p><%= cl_image_tag cocktail.photo, height: 260, width: 360 %></p>
        </div>
          <span class="caption">
            <%= link_to cocktail.name, cocktail_path(cocktail) %> | <%= link_to cocktail_path(cocktail), method: :delete, data: { confirm: "Are you sure?" } do %><i class="fa fa-trash destroy_cocktail"></i>
            <% end %>
          </span>
        </p>
      </div>
    <% end %>
  </div>
</div>





