<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
  <div class="container">
    <h1>Cock-a-doodle-doo!</h1>
    <p>Change your life and learn to code.</p>
    <a class="btn btn-flat" href="#">Apply now</a>
  </div>
</div>

  <div class="row">
    <div class="col-sm-4">
      <h1><u>Cocktails</u></h1>
    </div>
  </div>
    <div class="row">
    <div class="col-sm-4">
      <% @cocktails.each do |cocktail| %>
      <p><%= cl_image_tag cocktail.photo, height: 300, width: 400, crop: :fill %></p>
          <p><%= link_to cocktail.name, cocktail_path(cocktail) %> | <%= link_to cocktail_path(cocktail), method: :delete, data: { confirm: "Are you sure?" } do %>
                  <i class="fa fa-trash destroy_cocktail"></i></p>
          <% end %>
          <% end %>
        </div>
    </div>
</div>
        <div class="dropdown-divider"></div>
        <p><%= link_to "Add a cocktail", new_cocktail_path, class: 'btn btn-info' %></p>
